body{
  background-color: rgb(243, 235, 223) ;
}
.container-produtos {
    background-color: #2C2C2C;
}

.container-carousel {
    background-color: #2A2A2A;
    width: 1000px;
    margin: auto;
  }

  .carousel-caption h3{
    font-family: 'glamor';
  }

  .carousel-caption p {
    padding-bottom: 35px;
  }

  .foto{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .carrinho img {
    height: 40px;
    padding: 3px;
    border: solid 1px black;
    border-radius: 50%;
  }

  @media(max-width: 1080px){

    .container-carousel {
      background-color: #2A2A2A;
      width: 100%;
      margin: none;
    }

    .foto {
      width: 100%;
      height: 200px;
      object-fit: contain;
    }
  }
