<div class="container" style="text-align: right; margin-top: 20px;">
  <li class="carrinho list-unstyled "><img src="https://raw.githubusercontent.com/Luizgsmkw/e-wine/main/src/assets/basket3.png" alt=""></li>
  <span class="bdge bg-light" style="color:rgb(135, 33, 46)"><strong>Carrinho:</strong>{{carrinho.length}}</span>
</div>

<div class="container-carousel" style="margin-top:50px; margin-bottom: 50px;">
  <ngb-carousel *ngIf="images" class="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="foto" [src]="images[0]" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="foto" [src]="images[1]" alt="Random second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="foto" [src]="images[2]" alt="Random first slide">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="mx-1">
  <div class="container">
    <div class="row">
      <div class="col" *ngFor="let produto of produtos">
        <app-produto [dadoProduto]="produto" (onCarrinho)="addCarrinho($event)">
          <p *ngIf="produtoNoCarrinho(produto)" class="text-muted">*Produto no carrinho</p>
        </app-produto>
      </div>
    </div>
  </div>
</div>
