*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(135, 33, 46);
  font-family: Roboto;
}
.mb-0{
  color: white;
}
h6{
  color: rgb(135, 33, 46) ;
}
ul{
text-decoration: none;
color: white;
}
footer {
 
  width: 100%;
  justify-content: flex-end;
  
  }
.container-informacoes {
  height: 400px;
  background-color: #CDCAB7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.cartoes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 200px;
}

.cartoes img {
  height: 40px;
  width: 40px;
}

.card-master {
  margin-top: -5px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
  display: flex;
  padding: 20px;
  width: 15vw;
  align-items: center;
}
.logo p {
  font-family: 'Macondo', cursive;
  font-size: 1.8em;
  font-weight: bolder;
}

.logo a {
  font-family: 'Grape Nuts', cursive;
}
.logo img {
  height: 40px;
  padding-right: 10px;
}

















