
<div class="todo">
  <footer class="text-white" style="background-color: rgb(199, 143, 61);">
    <div class="container py-3">
      <div class="row">
        <div class="col-md-2">
          <div class="logo">
            <img src="../assets/cup-2121812_960_720.png" alt="">
            <p style="color: rgb(135, 33, 46) ;">E-wine</p>
          </div>
        </div>
        <div class="col-md-3">
          <h6><strong>MINHA CONTA</strong></h6>
          <ul class="list-unstyled">
            <li><a [routerLink]="'/login'"> Entrar</a></li>
            <li><a [routerLink]="'#'">Termos de Uso</a></li>
            <li><a [routerLink]="'#'">Política de Privacidade</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6><strong>CONTATO</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li>
              Rua Cabral, 1578 – Bela Vista <br>
              São Paulo/SP – CEP 05593-970
            </li>
            <li><i class="bi bi-envelope"></i> contato@ewine.com.br</li>
            <li><i class="bi bi-whatsapp"></i>(12) 98180-3634</li>
          </ul>
        </div>

        <div class="col-md-2">
          <h6><strong>REDES SOCIAIS</strong></h6>
          <ul class="list-unstyled text-secondary">
            <li><i class="bi bi-instagram"></i>@e-wine</li>
            <li><i class="bi bi-facebook"></i>@e-wine</li>
            <li><i class="bi bi-twitter"></i>@e-wine</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6><strong>FORMAS DE PAGAMENTO</strong></h6>
          <ul class="list-unstyled text-secondary">
            <div class="cartoes">
              <img src="../assets/Visa-icon.png" alt="">
              <img class="card-master" src="../assets/Mastercard-icon-2.png" alt="">
              <img src="../assets/Paypal-icon.png" alt="">
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center py-3" style="background-color: rgb(135, 33, 46)">
      <p class="mb-0">E-wine © 2022. Alguns direitos reservados</p>
    </div>
  </footer>
</div>