<div class="container-nav">

  <div class="logo">
    <img src="../assets/cup-2121812_960_720.png" alt="">
    <p><a id="titulo" [routerLink]="'/'">{{ nomeDoApp }}</a></p>
  </div>

  <nav>
    <ul>
      <li><a [routerLink]="'/indicacoes-de-vinhos'" (click)="isMenuCollapsed = true"><strong>Indicações</strong></a></li>
      <li><a [routerLink]="'/produtos'" (click)="isMenuCollapsed = true"><strong>Produtos</strong></a></li>
      <li><a [routerLink]="'/cadastro'" (click)="isMenuCollapsed = true"><strong>Cadastro</strong></a></li>
      <li><a [routerLink]="'/feedback'" (click)="isMenuCollapsed = true"><strong>Feedback</strong></a></li>
      <li><a [routerLink]="'/colaborador'" (click)="isMenuCollapsed = true"><strong>Área do Colaborador</strong></a></li>

      <li class="login"><a [routerLink]="'/login'" (click)="isMenuCollapsed = true"><img src="../assets/login1.png" alt=""></a></li>

    </ul>
  </nav>
</div>