.backgroundimagem{
  background-image: url(imagem.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 45%;
  margin-top: -100px;

}

.titulo{
  margin-top: 120px;
  margin-left: 30px;
  margin-bottom: 50px;
  text-align: center;
  color:rgb(199,143,61);
}

.form-control{
  font-size: 20px;
  width: 35%;
  text-align: center;
  border-color: black;
}

.mb-3{
  align-items: center;
  margin-left: 40%;
}

.form-label{
  margin-left: 15%;
  font-weight: bold;
  font-size: 140%;
}

.btn-primary{
  margin-left: 46.5%;
 border: rgb(199, 143, 61);
  background-color:rgb(199, 143, 61)  ;
  border-radius: 4px;
  width: 120px;
  height: 50px;
 color: white;
}

.href-sm{
  color: white;
  font-size: 15px;
  text-decoration: none;
}

body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
