<h1 style="margin-top: 100px">Feedback do Usuário</h1>
<div class="container" style="margin-top: 40px; margin-bottom: 100px; width: 1200px;">
  <div class="row">
    <div class="col" style="margin-top: 30px ;">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="foto" [src]="images[0]" alt="Random first slide" style="width: 100%;">
          </div>
          <div class="carousel-caption">
            <h4>Os melhores rórulos com os melhores preços</h4>

          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="foto" [src]="images[1]" alt="Random second slide" style="width: 100%;">
          </div>
          <div class="carousel-caption">
            <h4 style=>Vinhos com até 50% de desconto!</h4>

          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="foto" [src]="images[2]" alt="Random second slide" style="width: 100%;">
          </div>
          <div class="carousel-caption">
            <h4>Frete grátis para todo Brasil!</h4>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col">
      <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" class="m-1">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input formControlName="nome" id="nome" type="text" class="form-control" />
          <small class="text-danger" *ngIf="nome?.touched && nome?.invalid">
            <span *ngIf="nome?.hasError('required')">O nome é obrigatório!</span>
            <span *ngIf="nome?.hasError('minlength')">O mínimo são 5 caracteres!!</span>
          </small>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input formControlName="email" id="email" type="text" class="form-control" />
          <small class="text-danger" *ngIf="email?.touched && email?.invalid">
            <span *ngIf="email?.hasError('required')">O email é obrigatório!</span>
            <span *ngIf="email?.hasError('email')">Formato de email inválido!</span>
          </small>
        </div>

        <div class="mb-3">
          <label for="comentario" class="form-label">Comentário</label>
          <textarea formControlName="comentario" class="form-control" id="comentario" rows="3">  </textarea>
          <small class="text-danger" *ngIf="comentario?.touched && comentario?.invalid">
            <span *ngIf="comentario?.hasError('required')">O comentário é obrigatório!</span>
            <span *ngIf="comentario?.hasError('minlength')">O mínimo são 50 caracteres!!</span>
            <span *ngIf="comentario?.hasError('maxlength')">O máximo são 200 caracteres!!</span>
          </small>

        </div>

        <div class="mb-3">
          <label for="nota" class="form-label">Nota</label>
          <input formControlName="nota" id="nota" type="number" class="form-control" min="0" max="5">
          <small class="text-danger" *ngIf="nota?.touched && nota?.invalid">
            <span *ngIf="nota?.hasError('required')">O campo nota é preenchimento obrigatório!</span>
          </small>
        </div>
        <button class="botao" [disabled]="feedbackForm.invalid">Enviar</button>
      </form>
    </div>
  </div>
</div>