
.btn-primary{
  background-color:rgb(199, 143, 61)  ;
  border-radius: 4px;
  width: 120px;
  height: 50px;
  justify-content: center;
  color: white;
  border:rgb(199, 143, 61)  ;
  

}
h1{
  text-align: center;
  margin-top: 20px;
  color: rgb(199, 143, 61) ;

  
}