<section class="produtos">
  <div class="container-produtos">
    <div class="vinho-promo">
      <img class="img-vinho" [src]="produto.imagem" alt="">
      <div [ngSwitch]="produto.categoria">
        <div class="produtos-tipo">
          <div *ngSwitchCase="'tinto'" class="produtos-tipo">
            <img class="img-taca" src="../assets/taca-tinto.png" alt="">
            <p>Tinto</p>
          </div>
          <div *ngSwitchCase="'branco'" class="produtos-tipo">
            <img class="img-taca" src="../assets/taca-branca.png" alt="">
            <p>Branco</p>
          </div>
          <div *ngSwitchCase="'rose'" class="produtos-tipo">
            <img class="img-taca" src="../assets/taca-rose.png" alt="">
            <p>Rose</p>
          </div>
          <div *ngSwitchCase="'espumante'" class="produtos-tipo">
            <img class="img-tacaEs" src="../assets/taca-espumante.png" alt="">
            <p>Espumante</p>
          </div>
          <span class="badge bg-dark" *ngSwitchDefault>Outros</span>
        </div>
      </div>
    </div>
    <div class="produtos-sobre">
      <h6 class="nome">{{produto.nomeDoProduto}}</h6>
      <div class="preco">
        <h6 class="preco-h31" [ngClass]="{'text-muted riscado': produto.emPromocao, 'text-success': !produto.emPromocao}">{{produto.preco | currency: 'BRL'}}</h6>
        <div *ngIf="produto.emPromocao">
          <h6 class="preco-h32">{{precoDesconto() | currency: 'BRL'}}</h6>
        </div>
        <button (click)="onComprar()" class="butao">Comprar</button>
      </div>
      
          <ng-content></ng-content>
    </div>
  </div>
</section>



